<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Players</title>
    </head>
    <body>
        <h1><%= player.name %></h1>
        <ul>
            <li><%= player.elo %></li>
            <li><%= player.federation %></li>
            <li><%= player.title %></li>
            <li><%= player.birthday %></li>
            <li><%= player.fideId %></li>
        </ul>
        <a href="/players">All players</a>
    </body>
</html>